*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--fonte-padrao) IM !important;
}

:root {
  --cor-principal: #C72172;
  --cor-fundo: #F4F4F4;
  --cor-escura: #252B61;
  --cor-texto: #101828;
  --cor-suave: #92BDF6;
  --fonte-padrao: 'Kumbh Sans', sans-serif;
  --branco:#ffffff;
  --preto:#000000;
  --cor-destaque-alternativa: #F0DA69;
  /* para verificar utilização, alterar cores de acordo com o desenvolvimento*/
  --cor-destaque: #CC0A68;    
 /* --cor-destaque-hover: #e0a800; 
  --cor-fundo-cards: #f8f9fa; 
  --cor-clara: #f4f4f4;
  --cor-borda: #ddd;
  --border-radius: 8px;
  --transicao: all 0.3s ease;  */
}

/* INICIO HEADER */

header{
  background-color: var(--cor-fundo);
}

.link-custom:hover{
  color: var(--cor-principal) !important;
  font-weight:500;
  transition: color 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}

.btn-custom {
  background-color: var(--cor-principal) !important;
  border: var(--cor-principal) !important;
}

.btn-custom:hover{
  background-color: var(--cor-destaque) !important;
}

/* FIM HEADER */
